
* {
    margin: 0;
}

body {
    margin: 0;
}

.div1 {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: right;
    background-color: black;
    z-index: -1;
}


/*---------------------------------HEADER--------------------------------------*/


.div1 > div > header {
    height: 15vh;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 650px;
    margin-bottom: 50px;
    margin-top: -100px;
}

.div1 > div > header > img {
    /*margin-left: 550px;*/
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin-right: -95px;
}

.p1 {
    color: #FF4B32;
    width: 75.261px;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.p2 {
    color: #FF4B32;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.p3 {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
}

.p4 {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.p5, .p6 {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-left: 50px;
}


/*----------------------------------MAIN----------------------------------*/


.div1 > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 60vh;
    position: absolute;
    left: 0;
}

.p11 {
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    width: 524px;
    margin-left: 500px;
    margin-bottom: 35px;
}

.p22 {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-left: 500px;
    width: 506px;
    margin-bottom: 35px;
}

.div1 > div > button {
    width: 148px;
    height: 53px;

    border-radius: 5px;
    background: #FF4B32;
    border: none;
    margin-left: 500px;
    margin-bottom: 50px;

    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}


/*-------------------------------DIV_2--------------------------------------*/


.div2 {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.box1 {
    display: flex;
    width: 60vw;
    height: 80vh;
    flex-direction: column;
}

.box2 {
    justify-content: space-between;
    display: flex;
    width: 60vw;
    height: 70vh;
    margin-top: 130px;
}

.h1 {
    color: #000;
    font-family: "Josefin Sans";
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 55.9px */
    letter-spacing: 6.45px;
    width: 590px;
    margin-top: 30px;
}

.div2 > .box1 > p {
    color: #000;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 506px;
}

.b1 {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.b2 {
    display: flex;
    flex-direction: column;
}

.b3 {
    display: flex;
    flex-direction: column;
}

/*---------------------IMG----------------------*/

.b1 > img {
    width: 300px;
    height: 265px;
    flex-shrink: 0;
    margin-bottom: 35px;
}

.b2 > img {
    width: 303px;
    height: 265px;
    flex-shrink: 0;
    margin-bottom: 35px;
}

.b3 > img {
    width: 319px;
    height: 251px;
    flex-shrink: 0;
    margin-bottom: 35px;
}

/*-------------------------B---------------------------*/

.dollar {
    color: #0C0D0C;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 10px;
}

h3 {
    color: #000;
    font-family: "Josefin Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 15px;
}

.p111 {
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 257px;
}


/*-----------------------------------DIV_3----------------------------------------------*/


.div3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #000;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;

}

.coff {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 609px;
    /*margin-bottom: px;*/
}

.load {
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 245px;
    text-decoration: none;
}

/*------------------------BOX_3----------------------------*/

.box3 {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.img1 {
    margin: 15px;
}


/*------------------------------FOLLOW-----------------------------------------*/


.follow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 650px;

    background-image: url(follow.png);
    background-size: cover;
}

.follow>a {
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 5px;
    text-decoration: none;
}

.follow > p {
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin: 60px;
}

.box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.box4 div {
    color: #FFF;
    text-align: center;
    display: flex;

    /* Subheading / Base */
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}

.box4 > div > img:nth-child(1) {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 15px;
    /*margin-top: 66px;*/
}
.box4>div:nth-child(1){
    margin-bottom: 25px;
}
.gmail {
    width: 17px;
    height: 14px;
    flex-shrink: 0;
}

.followImg > div {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin: 20px

}

.followImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-top: 30px;
}


/*-----------------------------------------DIV_4----------------------------------------------------*/


.div4{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div4>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div4>div>h6{
    color: #000;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 43px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin: 20px;
}
.div4>div>p{
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 609px;
    margin-bottom: 60px;
}

/*---------------------BOX_5----------------------*/


.box5{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}
.box5>div{
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    width: 362px;
    height: 536px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0px rgba(0, 0, 0, 0.20);
    margin: 15px;
}
.box5>div>h1{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.box5>div>p{
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 302px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.box5>div>a{
    color: #FF4B32;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-decoration: none;
    margin-left: 35px;
}


/*----------------------------------------DIV_5--------------------------------------------*/


.div5{
    width: 100%;
    height: 406px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(Group.png);
    background-color: black
}
.divB1{

}
.boxB1>img{
    width: 46.109px;
    height: 50px;
    flex-shrink: 0;
}
.boxB1>span{
    color: #FF4B32;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    margin-left: 10px;
}
.boxB2>p{
    color: #FFF;

    /* Body / Base */
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    width: 250px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.boxB3>img{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}
.boxB3>span{
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-left: 10px;
}
.divB2>h1{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.divB2>p{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-top: 20px;
    margin-bottom: 20px;
}

.divB3>h1{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.divB3>p{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin-top: 20px;
    margin-bottom: 20px;
}

.divB4>h1{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    margin-bottom: 45.96px;
}
.div5>p{
    color: var(--white, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */

}